.container {

 width: 100%;
 height: 270px;
 background-color: #121212;
 display: flex;
 justify-content: center;
 align-items: center;

}


@media (min-width: 750px) and (max-width: 850px) {
  .text-container {
    font-size: 20px;
  }
  .hero-container {
   justify-content: center;
    margin-left: 20px;
  }
}

@media (max-width: 749px) {
  .text-container {
    font-size: 20px;
  }
  .hero-container {
    flex-direction: column;
    margin-left: 20px;
  }
}