.nav-container{
  height: 74px;
    background-color: #34c94b;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
}
.search-container {
    display: flex;
    align-items: center;
    border-radius: 8px; 
    overflow: hidden;
    width: 568px; 
    height: 48px;
    margin: 20px auto; 
    background-color: aqua;
  }
  .logo-container{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 32px;
  }
  .logo-image{
    width:67px;
    height:34px;
    
  }
  .search-input {
    flex: 1;
    width: 502px; 
    height: 48px;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 1px solid #121212;
    font-family: 'poppond, sans-serif';
    
  }

  .search-button {
    background-color:white ;
    border: none;
    padding: 10px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%; 
    width: 66px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
    /* font-family: 'poppins'; */
  }

 .feedbackBtn{
        background-color: #121212;
        color: #34C94B;
        width:170px;
        height:47px;
        margin-right:32px;
        border-radius:12px;
        font-size:18px;
        font-weight:600;
        cursor: pointer;
        font-family: "Poppins";
 } 

.feedbackBtn:hover{
    
    background-color: #333
 }