.RightNav{
    width:32px;
    height: 32px;
    background-color: #34C94B;
    color: #ffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    
}

.RightNav{
    position: absolute;
    right: 0; 
    top:50%;
    transform:translate(0,-50%)
}

.icon{
    fill: #ffff;
}